/** first partial */
:root {
    --brand-color: #2196f3;
    --txt-body-color: #212121;
    --txt-main-color: #ffffff;
    --txt-secondary-color: #757575;
    --background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --social-link-color: #afb1b8;
    --animation-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}